name: Python CI

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Check out the repository
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare test-results directory
        run: mkdir -p junit

      - name: Build Docker image
        run: docker compose build

      - name: Run tests in Docker
        run: |
          docker compose run --rm --entrypoint "" synthpix \
            -v "${{ github.workspace }}/junit:/workspace/junit" \
            pytest -v --junitxml=/workspace/junit/test-results.xml --ignore=test/save_ablations

      # 5. Upload JUnit test results
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/test-results.xml
