name: Python CI

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker compose -f docker-compose.cpu.yaml build

      - name: Run tests & collect coverage
        run: |
          docker compose -f docker-compose.cpu.yaml run --rm \
            -e CI=true \
            -e XLA_PYTHON_CLIENT_PREALLOCATE=false \
            -v "${{ github.workspace }}/coverage:/workspace/coverage" \
            synthpix pytest -x -v -n 4 \
              --max-worker-restart=0 \
              -o "xdist.worker_timeout=120" \
              --cov=synthpix \
              --cov-report=xml:/workspace/coverage/coverage.xml \
              --cov-report=term-missing \
              --ignore=test/save_ablations \
              --ignore=test/test_sampler.py

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

      - name: List files
        run: ls -R .
