name: Python CI

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare test-results directory
        run: mkdir -p junit

      - name: Build Docker image
        run: |
          docker compose -f docker-compose.cpu.yaml build

      - name: Run tests
        run: |
          docker compose -f docker-compose.cpu.yaml run --rm \
            -e XLA_PYTHON_CLIENT_PREALLOCATE=false \
            -v "${{ github.workspace }}/junit:/workspace/junit" \
            synthpix pytest -v -n 4 --dist=loadfile \
              --max-worker-restart=0 \
              -o "xdist.worker_timeout=120" \
              -o "xdist.worker_logfile=/workspace/junit/worker-%(workerid)s.log" \
              --junitxml=/workspace/junit/test-results.xml \
              --ignore=test/save_ablations

      - uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/test-results.xml
