name: Python CI

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare test-results directory
        run: mkdir -p junit

      - name: Build Docker image
        run: |
          docker compose \
            -f docker-compose.yaml \
            -f docker-compose.ci.yaml \
            build

      - name: Run tests
        run: |
          docker compose \
            -f docker-compose.yaml \
            -f docker-compose.ci.yaml \
            run --rm \
            -v "${{ github.workspace }}/junit:/workspace/junit" \
            synthpix \
            pytest -v \
              --junitxml=/workspace/junit/test-results.xml \
              --ignore=test/save_ablations

      - uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/test-results.xml
